# Secrets
settings.conf

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# PyInstaller
dist/
build/
*.spec

# Virtual environments
venv/
.venv/
env/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
